{
  "parser": "babel-eslint",
  "extends": [
    "@jetbrains",
    "@jetbrains/eslint-config/es6",
    "@jetbrains/eslint-config/node",
    "@jetbrains/eslint-config/react"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "describe": true,
    "it": true
  },
  "rules": {
    "max-len": ["error", {
      "code": 100,
      "ignoreComments": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true
    }],
    "import/no-commonjs": "off"
  }
}
